.container
{
    
    width: 70vw;
    height: 100vh;
    background-color: black;
    opacity:100%;
    padding-right: 7%;
}
.image
{
    top:0px;
    right:0;
    position:absolute;
    display:flex;
    height:100vh;
    margin:0;
}
.icon
{
    color:white;
    font-size: 3rem;
    top:20px;
    left:30px;
    display: flex;
    position: fixed;
}

h1{
   
    color:white;
    position:fixed;
}

.down
{
   justify-content: end;
   display:flex;
}
.down1
{
   padding-top:250px;
   padding-right: 440px;
}
.view
{
    background: #F09819;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:black;
    
}
/* Add this to your CSS file */
.view {
    background-color: black;
    color: black;
    border: 2px solid black;
    font-size: larger;
    font-weight:bolder;
    padding: 10px 20px;
    font-size: 16px;
  
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .view:hover {
    background-color: white;
    color: white;
  }
  